%hr#page_footer/
%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %ul.list-inline.text-center
          %li
            %a{:href => "https://twitter.com/#{data.social.twitter_username}"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-twitter.fa-stack-1x.fa-inverse
          %li
            %a{:href => "https://github.com/#{data.social.github_username}"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-github.fa-stack-1x.fa-inverse
          %li
            %a{:href => "mailto:#{data.social.email_address}"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-envelope-o.fa-stack-1x.fa-inverse
        %p.copyright.text-muted= "Copyright © #{data.site.author} #{Time.new.year}"
        %p.copyright.text-muted= link_to 'Hosted with Github pages', 'https://github.com/thanegill/thanegill.github.io'

= javascript_include_tag 'jquery', 'clean-blog', 'bootstrap'
