!!! 5
%meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
%meta{charset: 'utf-8'}/
%meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
%meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
%meta{content: "#{data.site.name} | #{data.site.subtitle}", name: 'description'}/
%meta{content: data.site.author, name: 'author'}/
%link{href: URI.join(data.site.url, '/atom.xml'), type: 'application/rss+xml', rel: 'alternate', title: 'RSS'}/
%link{href: 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css'}/
%link{href: 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}/
%link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel: 'stylesheet', type: 'text/css'}/

%title= current_page.data.title
= stylesheet_link_tag 'bootstrap'
= stylesheet_link_tag 'clean-blog'
