- image_name = current_resource.metadata[:page]['background_image']
- image_name ||= (background_image if defined? background_image)
- image_name ||= data.site.default_background_image

= wrap_layout :layout do
  = partial :nav
  %header.intro-header{:style => "background-image: url('#{image_name}')"}
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .post-heading
            %h1= current_article.title
            - if !current_article.data.subtitle.nil? && (current_article.data.subtitle.length > 0)
              %h2.subheading= current_article.data.subtitle
            %span.meta= current_article.date.strftime('%B %e, %Y')
  %article
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          = yield

