---
pageable: false
---

- case page_type
- when 'day'
  - date_string= Date.new(year, month, day).strftime('%b %e %Y')
- when 'month'
  - date_string= Date.new(year, month, 1).strftime('%b %Y')
- when 'year'
  - date_string= year

= partial :header, locals: { title: "Archive for #{date_string}", subtitle: nil }

.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - page_articles.each_with_index do |article, i|
        .post-preview
          %a{:href => article.url}
            %h2.post-title= article.title
            - if !article.data.subtitle.nil? && (article.data.subtitle.length > 0)
              %h3.post-subtitle= article.data.subtitle
          %p.post-meta= article.date.strftime('%B %e, %Y')
        %hr/
