---
pageable: false
---

= partial :header, locals: { title: "Articles tagged #{tagname}", subtitle: nil }

.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - page_articles.each_with_index do |article, i|
        .post-preview
          %a{:href => article.url}
            %h2.post-title= article.title
            - if article.data.subtitle
              %h3.post-subtitle= article.data.subtitle
          %p.post-meta= article.date.strftime('%B %e, %Y')
          = article.body
        %hr/
